.navbar {
  background-color: rgba(130, 65, 65, 0.1); /* Transparent background */
  backdrop-filter: blur(10px); /* Adds a blur effect */
  padding: 1rem 2rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.navbar h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.navbar ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #a5b4fc; /* Light indigo hover color */
}